# Ignore bundler config
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
*.log
/tmp
/public/assets

# Ignore generated coverage reports
/coverage/*

# IntelliJ
.iws
.idea/workspace.xml
.idea/tasks.xml
.idea/mongoSettings.xml
.idea/dataSources.xml
.idea/dataSources.ids
atlassian-ide-plugin.xml

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml

doc/*.db

# Ignore node modules and bower packages
/node_modules
/public/lib

# Ignore generated web files
/public/components
/public/i18n
