/.bundle
/db/sqlite
*.log
/tmp
/public/assets
/coverage/*
.iws
.idea/workspace.xml
.idea/tasks.xml
.idea/mongoSettings.xml
.idea/dataSources.xml
.idea/dataSources.ids
atlassian-ide-plugin.xml
config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
doc/*.db
/node_modules
/public/web_lib
/public/web
