<div class="input-group">
  <span class="input-group-btn">
    <button class="btn btn-default form-search-btn-search" type="button">
      <i class="fa fa-search"></i>
    </button>
  </span>
  <input name="q" type="search" class="form-control form-search-input"
         placeholder="<%= t 'placeholder.search' %>" value="<%= params[:q] %>">
  <span class="input-group-btn">
    <button class="btn btn-default form-search-btn-reset" type="button">
      <i class="fa fa-times-circle-o"></i>
    </button>
  </span>
</div>
