<div ng-controller="DimmerRgbDeviceWidgetController"
     data-device-id="{{ widget.device.id }}" class="dimmer-rgb-device-widget">
  <table>
    <tr>
      <td rowspan="3">
        <div class="dimmer-color"></div>
      </td>
      <td width="100%">
        <div class="dimmer-red-value"></div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="dimmer-green-value"></div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="dimmer-blue-value"></div>
      </td>
    </tr>
  </table>
</div>