<form name="widgetForm">

  <div class="modal-header">
    <h3 ng-if="action == 'new'">{{'action.add_widget' | i18n}}</h3>
    <h3 ng-if="action == 'edit'">{{'action.widget_properties' | i18n}}</h3>
  </div>

  <div class="modal-body">

    <div ng-if="action == 'new'" class="form-group has-feedback" ng-class="{'has-error': widgetForm.widget_device.$invalid}">
      <label for="widget_device">{{'message.select_device_for_widget' | i18n}}</label>
      <input id="widget_device" name="widget_device" type="text" class="form-control" required
             ng-model="widget.device"
             typeahead="device as device.name for device in getDevices($viewValue) | filter:$viewValue"
             typeahead-loading="loadingLocations" typeahead-editable="false">
      <span ng-show="loadingLocations" class="glyphicon glyphicon-refresh form-control-feedback"></span>
    </div>

    <div class="form-group">
      <label ng-if="action == 'new'" for="widget_title">{{'message.choose_optional_widget_title' | i18n}}</label>
      <label ng-if="action == 'edit'" for="widget_title">{{'attributes.widget.title' | i18n}}</label>
      <input id="widget_title" ng-model="widget.title" class="form-control"
             placeholder="{{ widget.device.name }}" focus-me>
    </div>

  </div>

  <div class="modal-footer">
    <button ng-click="ok()" ng-disabled="widgetForm.$invalid" class="btn btn-primary">
      <span ng-if="action == 'new'">{{'action.create_widget' | i18n}}</span>
      <span ng-if="action == 'edit'">{{'action.save' | i18n}}</span>
    </button>
    <button ng-click="cancel()" class="btn btn-warning">{{'action.cancel' | i18n}}</button>
  </div>

</form>
