<link rel="stylesheet" href="stylesheets/bootstrap.css">

<div class="row">
  <div class="col-md-12 text-center">
    <h1>Not authorized</h1>
    <%= image_tag 'grumpy.png' %>
    <% if @exception %>
		  <p><%= @exception %></p>
    <% end %>
  </div>
</div>
