<div class="row">
  <div class="col-md-12 text-center">
    <h1>Trying to hack this app?</h1>
    <%= image_tag 'grumpy.png' %>
    <h1>You never ever had a chance...</h1>
    <% if @exception %>
      <p><%= @exception %></p>
    <% else %>
      <p>Sorry, the requested page doesn't exist</p>
    <% end %>
  </div>
</div>
