<footer class="footer">
  <div class="footer-inner">
    <small>Copyright (C) 2012-2014 Dirk Grappendorf -
      <a href="http://www.grappendorf.net" target="_blank">www.grappendorf.net</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to 'About', help_about_url %>
        <li><%= link_to 'Contact', '#' %>
      </ul>
    </nav>
  </div>
</footer>
